target/
!apps/backend/ai-doc-system-rest/target/
apps/backend/ai-doc-system-rest/target/*
!apps/backend/ai-doc-system-rest/target/ai-doc-system-rest-1.0.0.jar
*.pyc
.trae/
reference
apps/agent/tests/*
apps/agent/logs/*
.claude/*

# License 敏感文件
apps/backend/keys/private.key
apps/backend/*.lic
*.lic
apps/backend/.idea/*
nul
